beautifulsoup4==4.8.2
certifi==2022.12.7
chardet==3.0.4
click==7.1.1
idna==2.9
requests==2.23.0
soupsieve==2.0
urllib3==1.25.8
# Editable install with no version control (yourscript==0.1)
-e /home/hero/task
